{% extends 'base.html' %}

{% block content_title %}
<div class="col-md-8">
  <h1 class="display-6">Completed Tasks</h1>
</div>  
{% endblock content_title %}


{% block middle_right %}

{% for task in tasks %}
<div class="accordion accordion-flush" id="accordion{{ task.id }}">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ task.id }}">
            <button class="accordion-button bg-info collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{ task.id }}" aria-expanded="false" aria-controls="collapse">
                <div>
                    {% if task.priority == '1' %}
                    <span class="badge text-bg-danger"><i>CRITICAL</i></span>
                    {% endif %}
                    {% if task.priority == '2' %}
                    <span class="badge text-bg-warning"><i>HIGH</i></span>
                    {% endif %}
                    {% if task.priority == '3' %}
                    <span class="badge text-bg-primary"><i>MEDIUM</i></span>
                    {% endif %}
                    {% if task.priority == '4' %}
                    <span class="badge text-bg-success"><i>LOW</i></span>
                    {% endif %}
                </div>
                {{ task.title }}
            </button>
        </h2>
        <div id="collapse{{ task.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ task.id }}"
            data-bs-parent="#accordion{{ task.id }}">
            <div class="accordion-body bg-secondary">
                {{ task.content }}
                <a class="btn btn-primary" href="{% url 'delete' task.pk %}" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>


{% endfor %}



{% endblock middle_right %}