{% extends 'base.html' %}

{% block content_title %}
<div class="col-md-8">
    <h1 class="display-6">New Task</h1>
</div>
{% endblock content_title %}

{% block content %}
{% if request.user.is_authenticated %}
{% comment %} <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class='btn btn-primary btn-block'>Add Task</button>
</form> {% endcomment %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="row mb-3">
        <label for="" class="col-sm-2 col-form-label">{{ form.title.label }}</label>
        <div class="col-sm-10">
            {{ form.title }}
        </div>
    </div>
    <div class="row mb-3">
        <label for="" class="col-sm-2 col-form-label">{{ form.content.label }}</label>
        <div class="col-sm-10">
            {{ form.content }}
        </div>
    </div>
    <div class="row mb-3">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" name="priority" value="1" class="btn-check" required="" id="id_priority_0" checked>
            <label class="btn btn-outline-danger" for="id_priority_0">Critical</label>

            <input type="radio" name="priority" value="2" class="btn-check" required="" id="id_priority_1">
            <label class="btn btn-outline-primary" for="id_priority_1">High</label>

            <input type="radio" name="priority" value="3" class="btn-check" required="" id="id_priority_2">
            <label class="btn btn-outline-primary" for="id_priority_2">Medium</label>

            <input type="radio" name="priority" value="4" class="btn-check" required="" id="id_priority_3">
            <label class="btn btn-outline-primary" for="id_priority_3">Low</label>
        </div>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class='btn btn-primary'>Add Task</button>
    </div>



</form>


{% else %}
<p>pls login</p>
{% endif %}
{% endblock content %}