{% extends 'base.html' %}

{% block content_title %}
<div class="col-md-8">
  <h1 class="display-6">New Task</h1>
</div>  
{% endblock content_title %}

{% block content %}
{% if request.user.is_authenticated %}
{% comment %} <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class='btn btn-primary btn-block'>Add Task</button>
</form> {% endcomment %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="row mb-3">
        <label for="" class="col-sm-2 col-form-label">{{ form.title.label }}</label>
        <div class="col-sm-10">
            {{ form.title }}
        </div>
    </div>
    <div class="row mb-3">
        <label for="" class="col-sm-2 col-form-label">{{ form.content.label }}</label>
        <div class="col-sm-10">
            {{ form.content }}
        </div>
    </div>
    <div class="row mb-3">
        <label for="" class="col-sm-2 col-form-label">{{ form.priority.label }}</label>
        <div class="col-sm-10">
            {{ form.priority }}
        </div>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class='btn btn-primary'>Add Task</button>
    </div>


    
</form>


{% else %}
<p>pls login</p>
{% endif %}
{% endblock content %}