{% extends 'base.html' %}
{% load static %}


{% block content %}
{% if request.user.is_authenticated %}
<div class='text-center'>
<p>
    <H1>ARE YOU SURE</H1><img src="{% static 'img/johncena.png' %}" width=150 alt="">
    <h1>ABOUT THAT</h1>
</p>
<form method="POST">
    {% csrf_token %}
    <button type="submit" class='btn btn-danger btn-block'>yes mr cena</button>
    {% comment %} <button type="" class='btn btn-primary btn-block' value="Go back!" onclick="history.back()">no pls
        no</button> {% endcomment %}
    <input type="button" value="no pls no" class='btn btn-secondary btn-block'
        onclick="location.href='{% url 'todolist' %}'">
</form>
</div>
{% else %}
<p>pls login</p>
{% endif %}
{% endblock content %}