/* class='bg-dark' style="color: white" */
body {
    color: black;
}

.accordion {
    --bs-accordion-border-color: bg-dark;
    --bs-accordion-bg: bg-dark;
}

.bg-secondary {
    color: black;
    --bs-secondary-rgb: 255, 250, 220;
}

.text-bg-secondary {
    color: black!important;
    background-color: RGBA(255, 250, 220, var(--bs-bg-opacity, 1)) !important;
}

.bg-info {
    --bs-info-rgb: 255, 250, 240;
}

.bg-dark {
    --bs-dark-rgb: 176, 196, 222;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}