/* class='bg-dark' style="color: white" */
body {
    color: black;
}

.accordion {
    --bs-accordion-border-color: bg-dark;
    --bs-accordion-bg: bg-dark;
}

.bg-secondary {
    color: black;
    --bs-secondary-rgb: 82, 161, 183;
}

.bg-dropdown {
    --bs-dropdown-bg: #8CC0CF;
}

.text-bg-secondary {
    color: black!important;
    background-color: RGBA(255, 250, 220, var(--bs-bg-opacity, 1)) !important;
}

.bg-info {
    --bs-info-rgb: 66, 138, 158;
}

.bg-dark {
    --bs-dark-rgb: 34, 34, 59;
}


a {
    text-decoration: none;
    color: #8F0500;
}

a:hover {
    text-decoration: underline;
}

.username-dropdown{
    display: flex;
    align-content:left;
    justify-content: end;
}

.display-6 {
    color: #A8D0DB;
}